flows.json
[{"id":"25eefbd3.962844","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"64244d41.47b004","type":"function","z":"25eefbd3.962844","name":"prediction","func":"var token=msg.payload.token;\nvar Age=global.get(\"Age\");\nvar EstimatedSalary=global.get(\"EstimatedSalary\");\nvar Gender=global.get(\"Gender\");\nmsg.payload={\"fields\":[\"Age\",\"EstimatedSalary\",\"Gender\"],\"values\":[[Age,EstimatedSalary,Gender]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":261,"y":167,"wires":[["e169e78d.7de208","5a6d5e47.717"]]},{"id":"5a6d5e47.717","type":"debug","z":"25eefbd3.962844","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":822,"y":103,"wires":[]},{"id":"fbee7e.64c8a18","type":"http request","z":"25eefbd3.962844","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"","x":462,"y":363,"wires":[["a64eca53.8647d8","64244d41.47b004"]]},{"id":"63bab072.f49f5","type":"inject","z":"25eefbd3.962844","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92,"y":223,"wires":[["f684db2b.94e458"]]},{"id":"f684db2b.94e458","type":"function","z":"25eefbd3.962844","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"4bc41ae2-d41f-4953-b10d-03978679c2ef\";\nvar password=\"80221e4c-70d4-4b35-b1fb-440b6409b9f8\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"Age\",msg.payload.Age)\nglobal.set(\"EstimatedSalary\",msg.payload.EstimatedSalary)\nreturn msg;","outputs":1,"noerr":0,"x":332,"y":323,"wires":[["fbee7e.64c8a18"]]},{"id":"795c1dd9.4b1c24","type":"function","z":"25eefbd3.962844","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":512,"y":183,"wires":[["5a6d5e47.717","1504e10f.6fc03f"]]},{"id":"a64eca53.8647d8","type":"debug","z":"25eefbd3.962844","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":722,"y":383,"wires":[]},{"id":"b3b39cd9.8e964","type":"ui_form","z":"25eefbd3.962844","name":"","label":"","group":"91ccd83e.1635f8","order":0,"width":0,"height":0,"options":[{"label":"Age","value":"Age","type":"number","required":true},{"label":"EstimatedSalary","value":"EstimatedSalary","type":"number","required":true}],"formValue":{"Age":"","EstimatedSalary":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":142,"y":423,"wires":[["f684db2b.94e458"]]},{"id":"1504e10f.6fc03f","type":"ui_text","z":"25eefbd3.962844","group":"91ccd83e.1635f8","order":0,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":742,"y":223,"wires":[]},{"id":"51c51fa0.adb8","type":"ui_dropdown","z":"25eefbd3.962844","name":"","label":"","tooltip":"","place":"Select Gender","group":"91ccd83e.1635f8","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Male","value":"Male","type":"str"},{"label":"Female","value":"Female","type":"str"}],"payload":"","topic":"","x":137,"y":492,"wires":[["a5cea498.969558"]]},{"id":"a5cea498.969558","type":"function","z":"25eefbd3.962844","name":"","func":"if(msg.payload==\"Male\"){\n    global.set(\"Gender\",1);\n    }\nelse if(msg.payload==\"Female\"){\n    global.set(\"Gender\",0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":493,"wires":[["35726e25.a8a652"]]},{"id":"35726e25.a8a652","type":"debug","z":"25eefbd3.962844","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":491.5,"y":493,"wires":[]},{"id":"e169e78d.7de208","type":"http request","z":"25eefbd3.962844","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e742d900-df45-4eed-a705-c0f0355ef57f/deployments/467b0f80-7494-492a-9639-645821e64ae1/online","tls":"","proxy":"","authType":"","x":422,"y":103,"wires":[["795c1dd9.4b1c24","5a6d5e47.717"]]},{"id":"91ccd83e.1635f8","type":"ui_group","z":"","name":"Prediction","tab":"b60a8984.964658","disp":true,"width":"6","collapse":false},{"id":"b60a8984.964658","type":"ui_tab","z":"","name":"MLCODE","icon":"dashboard","disabled":false,"hidden":false}]